*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-mask-box-image: none;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
.img-container{
    width: 60%;
    height: 60vh;
    background: url("./images/1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    position: relative;
    margin: 4rem auto;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.6);
}
.heading{
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
    color:white;
    /* color: #ffffff; */
}
.btn{
    color: white;
    font-size: 5rem;
    /* margin-top: 15rem; */
    /* text-align: center; */
}
.btn-left {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.btn-right {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    transform: translate(50%, -50%);
}
